.App {
  text-align: center;
}

.interactiveOpen {
  shape-outside: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  height: 100px;
  width: 100px;
  background: #71b373;
  z-index: 100000;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transform-origin: bottom right;
  transition: all 200ms ease;
  cursor: pointer;
  
  .icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 2em;
    color: white;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    transition: all 200ms ease;
    user-select: none;
  }

  #infoClose, #infoOpen {
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }

  &:hover, &:focus {
    transform: scale(1.2);
    background: #68a2ce;
    #infoOpen, #infoClose {
      transform: scale(1.3) rotate(15deg);
    }
  }

  &.active {
    background: #cb6e6e;
  }
}