* {
	box-sizing: border-box;
}

.App {
	text-align: center;
}

.overlayMenuContainer {
	overflow: hidden;
}

.overlayToggle {
	shape-outside: polygon(100% 0, 0% 100%, 100% 100%);
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	height: 100px;
	width: 100px;
	z-index: 100000;
	background: #71b373;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	transform-origin: bottom right;
	transition: all 200ms ease;
	cursor: pointer;

	.icon {
		position: absolute;
		bottom: 15px;
		right: 15px;
		font-size: 2em;
		color: white;
		filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
		transition: all 200ms ease;
		user-select: none;
	}

	#infoClose, #infoOpen {
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}

	&:hover {
		#infoOpen, #infoClose {
			transform: scale(1.2) rotate(15deg);
		}
	}

	&.active {
		background: #cb6e6e;
	}
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}

@media only screen and (max-width: 1024px) {
	.overlayToggle {
		height: 80px;
		width: 80px;
		.icon {
			bottom: 12px;
			right: 12px;
			font-size: 1.5em;
		}
		&.active {
			background: #cb6e6e;
		}
	}
	.overlayMenu {
		height: 80px;
		width: 100vw;
	}
}

@media (hover: none) {
	.overlayToggle {
		&:hover {
			transform: scale(1);
			background: #71b373;
			#infoOpen, #infoClose {
				transform: scale(1) rotate(0);
			}
		}
		&.active {
			background: #cb6e6e;
		}
	}
}